{
  "reporting": {
    "email": {
      "smtp": {
        "host": "smtp.gmail.com",
        "port": "587",
        "username": "jenkins_dundee@fivium.co.uk",
        "password": "W3YW]DN|\"M8O)W;/N]0cCZEjt:oxfz"
      },
      "sender": "frosty-noreply@fiviumdev.com",
      "recipients": [
        "mike.leonard@fivium.co.uk"
      ]
    }
  },
  "backup": {
    "s3": {
      "accessKeyId": "",
      "secretAccessKey": "",
      "region": "",
      "accountId": "",
      "bucketName": "",
      "endpoint": "http://0.0.0.0:9001",
      "pathStyleAccess": true
    }
  },
  "jobs": [
    {
      "name": "sleep-job",
      "command": "examples/scripts/sleep-job.sh",
      "schedule": "*/2 * * * *"
    },
    {
      "name": "fail-job",
      "command": "examples/scripts/fail-job.sh",
      "schedule": "*/2 * * * *"
    },
    {
      "name": "successful-job",
      "command": "examples/scripts/successful-job.sh",
      "schedule": "*/1 * * * *"
    }
  ]
}