{
  "reporting": {
    "email": {
      "smtp": {
        "host": "smtp.gmail.com",
        "port": "587",
        "username": "",
        "password": ""
      },
      "sender": "frosty-noreply@email.com",
      "recipients": [
        "foo.bar@mycompany.com"
      ]
    }
  },
  "backup": {
    "s3": {
      "accessKeyId": "",
      "secretAccessKey": "",
      "region": "",
      "accountId": "",
      "retentionDays": 7
    }
  },
  "jobs": [
    {
      "name": "sleep-job",
      "command": "examples/scripts/sleep-job.sh",
      "schedule": "*/2 * * * *"
    },
    {
      "name": "fail-job",
      "command": "examples/scripts/fail-job.sh",
      "schedule": "*/2 * * * *"
    },
    {
      "name": "successful-job",
      "command": "examples/scripts/successful-job.sh",
      "schedule": "*/1 * * * *"
    }
  ]
}