<!DOCTYPE html>
<html>
    <body style="font-size: 1em; font-family: Arial, sans-serif;">
        <h1>
            &#9731; Frosty Backup Report:
            {{ if .IsSuccessful }}
            <span style="color: green;">Success</span>
            {{ else }}
            <span style="color: red;">Failure</span>
            {{ end }}
        </h1>
        <table>
            <tbody>
            <tr>
                <td style="font-weight: bold; padding: 0 5px;">Backup Service:</td>
                <td>{{ .BackupService }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold; padding: 0 5px;">Backup Start:</td>
                <td>{{ .StartTime.Format "02-Jan-2006 15:04:05" }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold; padding: 0 5px;">Backup End:</td>
                <td>{{ .EndTime.Format "02-Jan-2006 15:04:05" }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold; padding: 0 5px;">Backup Duration:</td>
                <td>{{ .ElapsedTime }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold; padding: 0 5px;">Backup Location:</td>
                <td>{{ .BackupLocation }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold; padding: 0 5px;">Hostname:</td>
                <td>{{ .Hostname }}</td>
            </tr>
            </tbody>
        </table>

        <br/>
        <br/>

        <table style="font-size: 0.9em; text-align: left; border-collapse: collapse; margin-left: 5px;">
            <thead>
            <tr style="height: 30px;">
                <th style="min-width: 130px;">Job</th>
                <th style="width: 100px;">Status</th>
                <th style="width: 150px;">Archive*</th>
                <th style="width: 130px;">
                    Command Start Time
                    <br/>
                    <span style="font-style: italic; font-size: 0.9em; color: #999;">(Duration)</span>
                </th>
                <th style="width: 130px;">
                    Transfer Start Time*
                    <br/>
                    <span style="font-style: italic; font-size: 0.9em; color: #999;">(Duration)</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {{ range $key, $value := .Jobs }}
            <tr style="height: 30px; border-top: 1px solid lightgrey;">
                <td style="font-weight: bold;">{{ $value.JobConfig.Name }}</td>
                <td style="font-weight: bold;">
                    {{ if $value.IsSuccessful }}
                    <span style="color: green;">Success</span>
                    {{ else }}
                    <span style="color: red;">Failure</span>
                    {{ end }}
                </td>
                <td>
                    {{ if $value.ArchiveCreated }}
                    {{ $value.GetArchiveNameDisplay }}
                    <span style="font-style: italic; font-size: 0.9em; color: #999;">({{ $value.GetArchiveSizeDisplay }})</span>
                    {{ else }}
                    -
                    {{ end }}
                </td>
                <td>
                    {{ $value.StartTime.Format "15:04:05" }}
                    <br/>
                    <span style="font-style: italic; font-size: 0.9em; color: #999;">({{ $value.ElapsedTime }})</span>
                </td>
                <td>
                    {{ if $value.ArchiveCreated }}
                    {{ $value.TransferStartTime.Format "15:04:05" }}
                    <br/>
                    <span style="font-style: italic; font-size: 0.9em; color: #999;">({{ $value.ElapsedTransferTime }})</span>
                    {{ else }}
                    -
                    {{ end }}
                </td>
            </tr>
            {{ if $value.Error }}
            <tr>
                <td colspan="7">
                    <span style="font-weight: bold; font-style: italic; margin-left: 30px; color: grey;">error:</span>
                    <div style="max-height: 170px; overflow-y: auto;">
                        <pre style="padding: 3px; white-space: pre-line; margin: 4px 0 4px 30px; font-size: 1.1em;">{{ if $value.Error }}{{ $value.Error }}{{ end }}</pre>
                    </div>
                </td>
            </tr>
            {{ end }}
            {{ if $value.StdErr }}
            <tr>
                <td colspan="7">
                    <span style="font-weight: bold; font-style: italic; margin-left: 30px; color: grey;">command output:</span>
                    <div style="max-height: 170px; overflow-y: auto;">
                        <pre style="background-color: #454545; color: white; padding: 3px; white-space: pre-line; margin: 4px 0 4px 30px; font-size: 1.1em;">{{ if $value.StdOut }}{{ $value.StdOut }}{{ end }}
                            <span style="color: #ff6e00;">{{ $value.StdErr }}</span>
                        </pre>
                    </div>
                </td>
            </tr>
            {{ end }}
            {{ if $value.TransferError }}
            <tr>
                <td colspan="7">
                    <span style="font-weight: bold; font-style: italic; margin-left: 30px; color: grey;">transfer output:</span>
                    <div style="max-height: 170px; overflow-y: auto;">
                        <pre style="background-color: #454545; color: white; padding: 3px; white-space: pre-line; margin: 4px 0 4px 30px; font-size: 1.1em;">{{ $value.TransferError }}</pre>
                    </div>
                </td>
            </tr>
            {{ end }}
            {{ end }}
            </tbody>
        </table>
        <div style="margin-left: 15px; margin-top: 30px; font-size: 0.8em; font-weight: bold; font-style: italic;">
            * Dash indicates that no archive was created and nothing was transferred to {{ .BackupService }}.
        </div>
    </body>
</html>